.portfolio {
  padding: 70px 0;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  &-btn {
    background-color: $btn1color;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    &:hover{
      color:$lightcolor;
    }
  }
  &-title {
    line-height: 60px;
    h1 {
      font-size: 70px;
      font-weight: 700;
    }
    p {
      font-style: italic;
      font-weight: 700;
      font-size: 20px;
    }
  }
}

// Section Portfolio-info START
.portfolio-info {
  text-align: center;
  padding: 60px 0;
  line-height: 25px;
  h2 {
    font-weight: 800;
    font-size: 28px;
  }
  p {
    font-weight: 200;
    font-size: 17px;
  }
  .info-btn {
    background-color: $basecolor;
    margin: 30px 0;
    font-size: 15px;
    padding: 20px 30px;
    color:$lightcolor;
  }
}

// section services START

.services {
  padding: 40px 0;
  color: $lightcolor;
  background-color: $btn1color;
  text-align: center;
  &-icon {
    border-radius: 50%;
    padding: 30px 35px;
    background-color: $lightcolor;
    color: $btn1color;
    font-size: 30px;
    margin: 20px 0;
  }
  &-box {
    margin: 30px 20px;
    h3 {
      font-size: 25px;
      font-weight: 700;
    }
    p {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
// Section services End

// section download -website Start
.download-website {
  height: 70vh;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  &-info {
    h2 {
      font-size: 47px;
      font-weight: 700;
    }
  }
}

// SECTION RECENT PROJECTS START
.padding{
  padding: 0 !important;
}
.recent-projects {
  margin: 30px 0;
  justify-content: center;
  line-height: 30px;

  &-title {
    margin-bottom: 40px;
    h2 {
      font-weight: 700;
      font-size: 46px;
      text-align: center;
    }
    h6 {
      text-align: center;
    }
  }
  padding: 40px 0;

  &_card {
    transform: scale(1);
 
    .project-img {
      position: relative;
      width: 100%;
      height: 100%;
      transition: 0.3s ease-in-out;
      &:hover {
        filter: brightness(40%);
        transform: scale(0.9);
        gap:0;
      }
    }
    .card-info {
      position: absolute;
      top: 60%;
      left: 15%;
      z-index: 999;
      color: $lightcolor;
      h5 {
        font-size: 15px;
      }
    }
 
}}

@media (max-width: 768px) {
  .recent-projects {
    .project-img {
      margin: 20px 0;
    }
  }
}



// section recent project end
.location{
  .location-top{
    text-align: center;
    padding: 50px 0;
  background-color:$btn1color;
  line-height: 40px;
  h2{
    color:$lightcolor;
    font-weight: 600;
    font-size: 25px;
    margin: 30px 0;
  }
  .light-btn{
    background-color:$basecolor ;
    color:$lightcolor;
    &:hover{
      background-color: $lightcolor;
      color: $basecolor;
    }
  }
  .dark-btn{
  background-color: $lightcolor;
  color: $basecolor;
  &:hover{
    background-color:$basecolor ;
    color:$lightcolor;
  }
  }
  button{
    margin: 40px 0;
    padding: 10px 25px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
  }
  }
  &-map{
    width: 100%;
  }
}



// footer start
.footer{
  padding: 40px 0;

  &-icons{
    margin: 30px 0;
  i{
    background-color: $btn1color;
    color:$lightcolor;
    border-radius: 50%;
    padding: 20px 22px;
    margin-left: 10px;
    font-size: 20px;
  }
  }
  &-info{
    line-height: 30px;
    text-align: center;
    margin: 40px 0;
 span{
  font-size: 13px;
 }
  }
}

.our_team{
  padding: 50px 0;
  background-color: $bgcolor;
  text-align: center;
  h2{
    font-weight: 600;
    font-size: 40px;
  }
  p{
    margin-top: 30px;
  }
  &-icons{
  i{
    padding: 10px 12px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: $basecolor;
    color: $lightcolor;
  }
  }
  .team-workers{
img{
  margin-top: 30px;
  border-radius: 50%;
  height: 200px;
  border: 8px solid lightgray;
}
  }
}




// sectiom our team
