$mainfonts:'Poppins', sans-serif;
$basecolor:#16151A;
$lightcolor:#FFF;
$primecolor:#FFC800;
$btn1color:#1D809F;
$primecolor:#F2BE1B;
$hovercolor:rgb(29 128 159 / 90%);
$navcolor:#979397;
$bgcolor:#F8F9FA;